<ion-header>
	<ul><li>inicio</li>
    <a href="/#/actsoftware">  <li>Registro Actividades</li></a>
    <a href="/#/listaUser"><li>Asignacion de empresa..</li></a>
	</ul>
	<ion-button fill="clear" style="float: right; width:75px; height:50px">
	  <label for="nested-button" >
		<ion-icon slot="icon-only" name="person-circle-outline" id="nested-button"  style="float: right; width:75px; height:50px"></ion-icon>
	  </label>
	</ion-button>
  <ion-popover trigger="nested-button" [dismissOnSelect]="true">
	<ng-template>
	  <ion-content>
		<ion-list>
		  <ion-item [button]="true" [detail]="false">
			<ion-label style="text-align: center;"  >
						<ion-icon name="log-out-outline" class="button" style="width:60px; height:20px"></ion-icon>
					<font class="vAlign" face="Tahoma" slot="start" font size="4.5" style="font-weight: bold; "  font color="#000000">
						Cerrar Sesion</font>
			</ion-label>
		  </ion-item>
		  
		  <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
			<ng-template>
			  <ion-content>
				<ion-item [button]="true">
				  <ion-label>Nested Option</ion-label>
				</ion-item>
			  </ion-content>
			</ng-template>
		  </ion-popover>
		</ion-list>
	  </ion-content>
	</ng-template>
  </ion-popover>
  </ion-header>
<ion-content >
  <div class="row input-container">
    <div class="row">
        <h4>Datos estudiante</h4>
    </div>
    
    <div class="row input-container"> 
      <div class="col-md-6 col-sm-12">
        <div class="styled-input">
          <input name="estudianteId"
          [(ngModel)]="studentId"
         type="number" required  />
          <label>Nombre del estudiante</label> 
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="styled-input" style="float:right;">
         <ion-list class="foreground">
         <ion-item class="color">
           <label>Nombre del Docente</label>
           <ion-select  [(ngModel)]="teacherId"  name="activityId" type="number">
           <ion-select-option *ngFor="let teacher of teacher" value={{teacher.id}}>{{teacher.name}}</ion-select-option>
           </ion-select>
         </ion-item>
         </ion-list>
       </div>
       </div>
       <div class="col-md-6 col-sm-12">
        <div class="styled-input" style="float:right;">
         <ion-list class="foreground">
         <ion-item class="color">
           <label>Nombre del Tutor</label>
           <ion-select  [(ngModel)]="tutorId" name="activityId" type="number">
           <ion-select-option *ngFor="let tutorcompany of tutorcompany" value={{tutorcompany.id}}>{{tutorcompany.name}}</ion-select-option>
           </ion-select>
         </ion-item>
         </ion-list>
       </div>
       </div>
        <div class="col-md-6 col-sm-12">
          <div class="styled-input">
            <input name="startDate"
            [(ngModel)]="starDate"
           type="date" required  />
            <label>Fecha de inicio</label> 
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="styled-input" style="float:right;">
            <input name="hours"
            [(ngModel)]="hours" 
            type="number" value="11:45:00" max="22:30:00" min="10:00:00" step="1"  required/>
            <label>hora</label> 
          </div>
        </div>
        <div class="col-xs-12">
          <div class="styled-input wide">
            <input
             name="endDate"
             [(ngModel)]="endDate"
            type="date" required />
            <label>fecha final</label> 
          </div>
        </div>
        <div class="col-xs-12">
          <div class="btn-lrg submit-btn" (click)="onCreate()" onClick="window.location.reload();">Guardar</div>
        </div>



    </div>
  </div>
</ion-content>