body {
  margin: 5px;
  text-align: center;
  padding: 200px;
}

.vAlign  {
  
}


body {
    background-color: #444442;
    padding-top: 85px;
}

h1 {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 72px;
    color: rgb(27, 27, 27);
    text-align: center;
}

h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}

/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #d4d3d394;
    color: rgb(2, 2, 2);
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #05a1a7;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
    color: #01a5a5;
  font-style: normal;
}
/* menu general-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* menu general-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
body {
    font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 20px 50px 150px;
    font-size: 13px;
    text-align: center;
    background: #E3CAA1;
  }
  a {
    display: inline-block;
    width: 100%; /* 100% dividido por el número de elementos del menú */
    box-sizing: border-box;
    padding: 0px 5px;
    color: rgb(19, 17, 17);

    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }
  
  ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }
  ul li {
    font: bold 12px/18px sans-serif;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 18px 20px;
    background: #fff;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  ul li:hover {
    background: #555;
    color: #fff;
  }
  ul li ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: 0;
    width: 150px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
  }
  ul li ul li { 
    background: #555; 
    display: block; 
    color: #fff;
    text-shadow: 0 -1px 0 #000;
  }
  ul li ul li:hover { background: #666; }
  ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  /**Pestañas---------------------------------------------------------------------------------------------------------*/
  /**Pestañas---------------------------------------------------------------------------------------------------------*/
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: #f0f0f0;
}
.containers{
    width: 100%;
    max-width: 700px;
    margin: auto;
    margin-top: 70px;
}
.lbl-menu{
    background: #234;
}
.lbl-menu label{
    display: inline-block;
    padding: 20px;
    color: #fff;
    cursor: pointer;
    transition: all 400ms ease;
}
.lbl-menu label:hover{
    background: #28435d;
}
.content{
    position: relative;
}
.content div{
    position: absolute;
    line-height: 1.8;
    transition: all 600ms ease;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.90);
    padding: 30px;
    padding-bottom: 40px;
    background-color: transparent;

}
ion-content{
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    background-size: cover;
  }
#radio1,#radio2,#radio3,#radio4{
    display: none;
}
#radio1:checked ~ .tab1,
#radio2:checked ~ .tab2,
#radio3:checked ~ .tab3,
#radio4:checked ~ .tab4
{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.content div:after{
    position: absolute;
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #fff;
    bottom: 100%;
    left: 28px;
}
.content .tab2:after{
    left: 152px;
}
.content .tab3:after{
    left: 280px;
}
.content .tab4:after{
    left: 463px;
}
/**tabla-------------------------------tabla--------------------------------------tabla-------------------------tabla*/
/**tabla-------------------------------tabla--------------------------------------tabla-------------------------tabla*/
/**tabla-------------------------------tabla--------------------------------------tabla-------------------------tabla*/

/**tabla-------------------------------tabla--------------------------------------tabla-------------------------tabla*/
/**tabla-------------------------------tabla--------------------------------------tabla-------------------------tabla*/
body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
}

.container {
  position: absolute;
  top: 45%;
  left: -65%;

}


table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: rgb(73, 69, 69);
}

th {
    text-align: left;
}

thead {
    th {
        background-color: #019aa4;
    }
}

tbody {
    tr {
        &:hover {
            background-color: rgba(125, 125, 125, 0.3);
        }
    }
    td {
        position: relative;
        &:hover {
            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: -9999px;
                bottom: -9999px;
                background-color: rgba(68, 67, 67, 0.2);
                z-index: -1;
            }
        }
    }
}
/**-----------------------------------------------------------------------------------------------------------*/
// Custom utility classes
.botonUno{
    font-size:14px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    color:white;
    background:#a3a3a3d0;
    border-radius: 10px;
    width:105px;
    height:30px;
   }
   .botonDos{
    font-size:12px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    color:white;
    background:#05a1a7;
    border-radius: 10px;
    width:105px;
    height:30px;
   }
