<body>
  <div class="container"  >

<div class="row input-container">
  <div class="col-xs-12">
    <div class="styled-input wide">
      <input
   name="name"
   [(ngModel)]="teacher.name"
  type="text" required />
      <label>Nombre y apellido</label> 
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="styled-input">
      <input type="text" required />
      <label>Email</label> 
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="styled-input" style="float:right;">
      <input
  name="phone"
  [(ngModel)]="teacher.phone" 
  type="text" required />
      <label>Numero de telefono</label> 
    </div>
  </div>
  <div class="col-xs-12">
    <div class="btn-lrg submit-btn" onClick="window.location.reload();" (click)="onUpdate()" >Actualizar</div>
  </div>
  </div>
  </div>
</body>