
<ion-header>
	<ul><li [routerLink]="['/inicio']">inicio</li>
    <a href="/#/datos"><li>Estudiantes</li></a>
    <li onClick="window.location.reload();">Registro Actividades</li>
  <a href="/#/listaUser"><li>Asignacion de empresa..</li></a>
	</ul>
	<ion-button (click)="logout()" fill="clear" style="float: right; width:59px; height:54px">
		<ul><li><ion-icon slot="icon-only" name="log-out-outline"  style="float: right; width:65px; height:30px"></ion-icon></li></ul>
	</ion-button>
  </ion-header>
  <ion-content>
    <div class="containers">
      <div class="lbl-menu">
          <label for="radio1" >Crear Actividad</label>
          <label for="radio2" >Lista actividades.</label>
      </div>
      
      <div class="content">
         
          <input type="radio" name="radio" id="radio1" checked>
          <div class="tab1" >
            <span class="row input-container">
              <span class="col-xs-12">
                <span class="styled-input wide">
                  <input
               name="name"
               [(ngModel)]="activities"
              type="text" required />
                  <label>actividad</label> 
                </span>
              </span>
              <span class="col-xs-12">
                <span class="styled-input wide">
                  <input
               name="name"
               [(ngModel)]="observacion"
              type="text" required />
                  <label>Observaciones</label> 
                </span>
              </span>
              <span class="col-xs-12">
                <span class="styled-input wide">
                 <ion-list class="foreground">
                 <ion-item class="color">
                   <label>Carrera</label>
                   <ion-select  [(ngModel)]="career" name="activityId" type="number">
                   <ion-select-option *ngFor="let carreras of carreras" value={{carreras.id}}>{{carreras.name}}</ion-select-option>
                   </ion-select>
                 </ion-item>
                 </ion-list>
               </span>
               </span>
              <span class="col-xs-12">
                
                <span class="btn-lrg submit-btn" (click)="onCreate()">Guardar</span>
                <span class="btn-lrg submit-btn"  onClick="window.location.reload();">Nuevo</span>
              </span>
          </span>
     
          </div>
          
          <input type="radio" name="radio" id="radio2">
          <div class="tab2">
            <span class="container">
              <ion-searchbar color ="light"
              placeholder="buscar Atividades por carrera"
              (ionChange)="busqueda($event)"></ion-searchbar>
              <table>
              <thead>
                <tr>
                <th>ID</th>
                <th>Actividades</th>
                <th>Observaciones</th>
                <th>carrera</th>
                <th>Editar</th>
                <th>Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let software of Software|filtroActividades:textoBuscar">
                <td>{{software.id}}</td>
                <td>{{software.description}}</td>
                <td>{{software.observation}}</td>
                <td>{{software.carrera}}</td>
                <td><button  class="botonUno" routerLink="/editarsoftware/{{software.id}}" >Editar</button></td>
                <td><button   class="botonDos"(click)="borrarActividad(software.id)"><ion-icon name="trash-outline"></ion-icon>Eliminar</button></td></tr>
              </tbody>
              </table></span>

            
       
          </div>
  
  
  </div>
    </div>
    


 


  </ion-content>