<ion-header>
  <ion-toolbar style="text-align: center;" class="colores">
    <font  face="Comic Sans MS,arial,verdana" font size="4" style="font-weight: bold;" font color="#00C4B0"  >INSTITUTO SUDAMERICANO</font>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container" class="foreground">
      <div
       class="col-xs-12">
        <div
         class="styled-input wide">
          <ion-list class="foreground">
            <ion-item class="color">
              <label>Actividades(Enumerar las actividades)</label>
              <ion-select  [(ngModel)]="activitiesId"  name="act" type="number" >
                <ion-select-option *ngFor="let software of Software" value={{software.id}}>{{software.description}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <div
          class="col-xs-12">
           <div
            class="btn-lrg submit-btn" (click)="actividades()" >Guardar Actividad</div
             >
         </div
         >

          <div
           id="log" class="ion-padding"></div
            >
        </div
        >
      </div
      >
      <div
       class="col-xs-12">
        <div
         class="btn-lrg submit-btn" (click)="crearActividad()" >Guardar Actividad</div
          >
      </div
      >
      <div
       class="col-xs-12">
        <div
         class="btn-lrg submit-btn" onClick="window.location.reload();">Nueva Actividad</div
          >
      </div
      >
      
  </div>
  <ion-item *ngFor="let actDetalle of actDetail" class="color">
    <ion-label class="color"> {{actDetalle.actividad}} </ion-label>
    <ion-buttons slot="end">
      <ion-button  (click)="borrarActividad(actDetalle.id)">
        <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
       </ion-button>
    </ion-buttons>
  
  </ion-item>

</ion-content>
<ion-item class="new">
  <ion-tabs class="colores">
    <ion-tab-bar slot="bottom" (click)="inicio()" class="colores" >
      <ion-tab-button tab="schedule">
        <ion-icon name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="speakers">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Quienes Somos</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon name="log-out"></ion-icon>
        <ion-label>Cerrar Sesion</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
</ion-item>



