.menu{
    height: 300px;
    width: 350px;
    background: rgb(248, 183, 2);
    background: #fff url('../assets/universo.jpg') no-repeat center center / cover;
    box-shadow: 0px 1px 10 px rgba(252, 172, 24, 0.863);
    transform:  rotate(0deg);
    border-radius: 0px -10px -20px 70px;
    margin-left: -45px;
    margin-top: -60px;
    margin-bottom: 20px;
}
.menus{
    height: 500px;
    width: 350px;
    background: rgb(248, 183, 2);
    background: rgb(4, 116, 106);
    box-shadow: 0px 1px 10 px rgba(252, 172, 24, 0.863);
    transform:  rotate(0deg);
    border-radius: 0px -10px -20px 70px;
    margin-left: -40px;
    margin-top: -30px;
    margin-bottom: -10px;
}
.imagen{
    position: absolute;
    top:20px;
    left: 20px;
    display: flex;
    align-items: center;
    img{
      
        width: 140px;
        height: 140px;
        border-radius: 100%;
        border: 7px solid #067074;
        margin-right: 14px;
    }
}
.items{
    margin:0px;
    ion-icon{
        margin-right: 20px;
        color:#86979f;
    }
    ion-item{
        padding-left: 20px;
        margin-bottom: 10px;
    }
    .active{
        border-left: 5px solid;
        color:#067074;
        padding: left 15px; 
        ion-icon{
            color:#0fecda;
        }
    }
}
ion-item{
    --background: transparent;
  }